.popup__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    font-family: 'Inter', Arial, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    margin-top: 27px;
}