.popup__container {
    margin: auto;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    width: 430px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
}


@media screen and (max-width: 768px) {
    .popup__container {
        width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .popup__container {
        padding: 25px 22px 25px 22px;
    }
}