.profile__edit {
    margin: 0 0 10px 0;
    padding: 7px;
    height: 24px;
    min-width: 24px;
    background: url('../../../images/edit.svg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
    border: 1px solid white;
}

.profile__edit:hover{ 
    opacity: .6;

}

@media screen and (max-width: 320px) {
    .profile__edit {
        min-width: 18px;
        height: 18px;
        background-size: 7.5px;
        margin-bottom: 6px;
    }
}