.popup__submit {
    margin-top: 48px;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #FFF;
    font-family: 'Inter', Arial, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: opacity .5s ease-in-out;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
}

.popup__submit:hover {
    opacity: .6;
    p
}

@media screen and (max-width: 768px) {
    .popup__submit {
        font-size: 14px;
        line-height: 17px;
    }
}