.profile__add {
    width: 150px;
    height: 50px;
    background: url('../../../images/add.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px white solid;
    box-sizing: border-box;
    align-self: center;
    transition: opacity .5s ease-in-out;
    border-radius: 2px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__add {
        width: 100%;
    }

}


.profile__add:hover {
    opacity: .6;
}