.profile__name {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Inter', Arial, Sans-serif;
    font-size: 42px;
    line-height: 114%;
    display: block;
}

@media screen and (max-width: 768px) {
    .profile__name {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .profile__name {
        font-size: calc(27px + ((100vw - 320px) * 0.02130681818));
        line-height: calc(33px + ((100vw - 320px) * 0.02130681818));
    }
}