.popup__caption {
    margin: 0;
    padding: 0 0 9px 0;
    width: 100%;
    font-family: 'Inter', Arial, Sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}


@media screen and (max-width: 768px) {
    .popup__caption {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .popup__caption {
        padding-bottom: 40px;
    }
}