.profile__info {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .profile__info {
        align-items: center;
        text-align: center;
    }
}