.card__caption {
    margin: 0;
    padding: 25px 0;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}