.card__like {
    padding: 0;
    margin: 0;
    width: 22px;
    height: 19px;
    transition: opacity .5s ease-in-out;
    background: url('../../../images/like.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}