.card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}